html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0 auto;
    max-width: 2500px;
}

main{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
}

article{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

header{
    background-image: url("baggalutur\ \(2\).jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 30px;
}

header h1 {
    color: white;
    font-size: 5rem;
    text-shadow: 0 -2px 12px rgb(255, 0, 0);
    padding: 30px;
    text-align: center;
}

header nav{
    margin-top: 150px;

    display: flex;
    flex-flow: column;
    gap: 1px;
    background-color: #692822;
}

header nav a{
    flex-grow: 1;
    padding: 30px;
    color: pink;
    text-align: center;
    text-decoration: none;
    background-color: #8c352d;
}

figure{
    width: 100%;
}

main iframe{
    width: 100%;
    height: 100%;
}

.Youtube{
    max-width: 560px;
    height: 315px;
}

.Kort{
    min-height: 400px;
}

footer{
    background-color: tan;
    background-image: linear-gradient(to bottom, #8c352d, #cb4134);
    padding: 10px;
    color: rgb(230, 230, 230);
}

footer a{
    color: red;
}

.footer{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 0 50%;
}

.footer h4{
    text-align: center;
}

.Spotify {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.Spotify iframe{
    max-width: 1200px;
}

.center{
    display: flex;
    justify-content: center;
}

.text-center{
    text-align: center;
}

.copy{
    text-align: center;
    font-size: large;
}

@media screen and (min-width:48em) {
    .footer {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0;
    }
    header nav {
        flex-flow: row;
    }
}
@media screen and (min-width:60em) {
    article{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:80em) {
    main {
        grid-template-columns: 3fr 1fr;
    }
}
@media screen and (min-width:100em) {

}
